.inline-title { color: #C199E8; }
.cm-header-1 { color: #9C5BDE; }
.cm-header-2 { color: #6E11A6; }
.cm-header-3 { color: #730260; }
.cm-header-4 { color: #8F0A82; }
.cm-header-5 { color: #A1226E; }
.cm-header-6 { color: #D22D72; }